@import './_variables.scss';

.ui.card {
  width: 100% !important;
}

.ui.segment {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(185, 188, 210, 0.2);
  border: solid 1px #e8e8ec;
}

.ui.primary.button {
  background-color: $primary;
}

.ui.celled.table tr th {
  font-size: 17px;
  color: #474543;
}

.ui.celled.table tr td {
  font-size: 16px;
}

.ui.medium.image,
.ui.medium.images .image,
.ui.medium.images img,
.ui.medium.images svg {
  padding: 20px;
  width: unset;
}
